
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mt-2 flex items-center">
        <h3>Eliminar</h3>
    </div>
    <div class="mt-2 flex justify-end items-center">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-toolbar>
   <mat-dialog-content>
       <span>
           Está seguro de eliminar el registro?
       </span>
       <div class="flex justify-between px-6 ">
           <button class="custom-button"
                mat-button
               (click)="onConfirm()">
               <a class="text-white  font-bold no-underline">Aceptar</a>
   
           </button>
           <button 
               class="Cancelar custom-button"
                   mat-button
                   mat-dialog-close>
                   <a class="no-underline text-white font-bold ">Cancelar</a>
               </button>
       </div>
   
   </mat-dialog-content>
   
   
   