
mat-form-field {
    width: 100%;
}

mat-label {
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid {
    display: grid;
    gap: 16px;
}

.custom-button {
    width: 8cm;
}
