/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    background-color: #ff8000;
    color: white !important;
    border: 1px solid #7f7f7f;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
button:hover{
    background-color: #966431;
}

.invalido-button {
    background-color: rgb(96, 87, 87)!important;
    color: rgb(255, 255, 255) !important;
}

.Cancelar {
    background-color: rgb(96, 87, 87) !important;
}
  
.Cancelar:hover {
    background-color: rgb(155, 146, 146)!important;
}